body {
	font-family: "Raleway", sans-serif;
	background: #f5f6f1;
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active {
	color: #ff7f50;
}

textarea {
	resize: none;
	width: 100%;
}

pre {
	border-radius: 0;
}

section {
	padding: 30px 0;
}

section h2,
footer h2 {
	text-transform: uppercase;
	font-weight: 700;
}

.header-area {
	background: #fff;
	padding: 15px;
}

.header-area h1 {
	font-size: 40px;
	font-weight: 700;
}

.colors-structure-area img {
	margin: 10px auto;
	border: 10px solid #e5e5e5;
}

.color-1,
.color-2,
.color-3,
.color-4 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 30px;
    border: 10px solid #ededed;
}

.color-1 {
    background: #A7EFE9;
}

.color-2 {
    background: #7FDFD4;
}

.color-3 {
    background: #FBE1B6;
}

.color-4 {
    background: #FBAC91;
}